<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBaVgIsihMw_49-VJ3nZMGZeIHF-ggCp_o</string>
	<key>GCM_SENDER_ID</key>
	<string>158873137678</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.schoolWeb</string>
	<key>PROJECT_ID</key>
	<string>school-manager-793a1</string>
	<key>STORAGE_BUCKET</key>
	<string>school-manager-793a1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:158873137678:ios:22efad56e5059ba9e6425f</string>
</dict>
</plist>